// Define variables and mixins
$font-family-avenir-heavy: "Avenir Heavy", sans-serif;
$font-family-avenir-book: "Avenir Book", sans-serif;
$line-height: 1.75;
$letter-spacing-header: 0;
$letter-spacing-cell: 0.1;
$select-btn-color: #5c50bb;

@mixin font-size($size) {
  @if $size == XL {
    font-size: 20px;
  } @else if $size == LG {
    font-size: 20px;
  } @else if $size == MD {
    font-size: 18px;
  } @else {
    font-size: 16px;
  }
}

@mixin btn-size($size) {
  @if $size == XL {
    width: 32px;
    height: 32px;
  } @else if $size == LG {
    width: 24px;
    height: 24px;
  } @else if $size == MD {
    width: 20px;
    height: 20px;
  } @else {
    width: 16px;
    height: 16px;
  }
}

.mobile-header {
  display: none;
  text-align: center; // or any alignment you prefer
  font-family: $font-family-avenir-heavy;
  line-height: $line-height;
  letter-spacing: $letter-spacing-header;
  margin-bottom: 0.5rem;
}

.table {
  box-shadow: 2px -2px 3px 3px #ccc;
  border-radius: 16px;
  margin: 4rem;
  border-spacing: 0;
  margin: 0px;

  thead {
    th:first-child {
      border-top-left-radius: 16px;
    }

    th:last-child {
      border-top-right-radius: 16px;
    }
  }

  th {
    padding: 24px;
    font-family: $font-family-avenir-heavy;
    line-height: $line-height;
    letter-spacing: $letter-spacing-header;
    cursor: pointer;

    @include font-size(XL); // Change this to apply different font sizes

    background-color: rgba($color: grey, $alpha: 0.1);
  }

  td {
    padding: 24px;
    font-family: $font-family-avenir-book;
    line-height: $line-height;
    letter-spacing: $letter-spacing-cell;

    @include font-size(XL); // Change this to apply different font sizes

    .selectionBtn {
      @include btn-size(XL); // Change this to apply different button sizes
      border-radius: 50%;
      accent-color: #5c50bb;
    }
  }

  tr {
    position: relative;

    &:not(:last-child):after {
      content: "";
      position: absolute;
      left: 10px; // adjust this to change left padding
      right: 10px; // adjust this to change right padding
      bottom: 0;
      border-bottom: 1px solid #ddd;
    }
  }

  //   .select-column {
  //     width: 30px;
  //   }

  .sort-asc::after {
    content: " ↑";
  }

  .sort-desc::after {
    content: " ↓";
  }

  .selected-row {
    background-color: #efedfd;
  }

  @media (max-width: 780px) {
    box-shadow: 2px -2px 3px 3px #ccc;
    border-radius: 8px;
    margin: 4rem;
    border-spacing: 0;
    // background-color: #5c50bb;

    thead {
      th:first-child {
        border-top-left-radius: 8px;
      }

      th:last-child {
        border-top-right-radius: 8px;
      }
    }

    th {
      padding: 8px 16px;
      font-family: $font-family-avenir-heavy;
      line-height: $line-height;
      letter-spacing: $letter-spacing-header;
      cursor: pointer;

      @include font-size(XL); // Change this to apply different font sizes

      background-color: rgba($color: grey, $alpha: 0.1);
    }

    td {
      padding: 8px 16px;
      //   font-family: $font-family-avenir-book;
      //   line-height: $line-height;
      //   letter-spacing: $letter-spacing-cell;

      @include font-size(LG); // Change this to apply different font sizes

      .selectionBtn {
        @include btn-size(LG); // Change this to apply different button sizes
        border-radius: 50%;
        accent-color: #5c50bb;
      }
    }

    tr {
      position: relative;

      //   &:not(:last-child):after {
      //     content: "";
      //     position: absolute;
      //     left: 10px; // adjust this to change left padding
      //     right: 10px; // adjust this to change right padding
      //     bottom: 0;
      //     border-bottom: 1px solid #ddd;
      //   }
    }

    // .select-column {
    //   width: 30px;
    // }

    .sort-asc::after {
      content: " ↑";
    }

    .sort-desc::after {
      content: " ↓";
    }

    .selected-row {
      background-color: #efedfd;
    }
  }

  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    margin-top: 0px;

    tr {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      &:not(:last-child):after {
        content: "";
        position: absolute;
        left: 10px; // adjust this to change left padding
        right: 10px; // adjust this to change right padding
        bottom: 0;
        border-bottom: 1px solid #ddd;
      }

      td:nth-child(n + 3) {
        flex-basis: 100%;
      }

      td:first-child {
        flex-basis: 5%;
      }
      td:nth-child(2) {
        flex-basis: 60%;

        // padding-right: 10px; // Add some spacing
      }
    }

    th,
    td {
      flex-basis: 100%;
      border: none;

      @include font-size(
        SM
      ); // Change this to apply different font sizes for small screens

      .selectionBtn {
        @include btn-size(LG); // Change this to apply different button sizes
        border-radius: 50%;
        accent-color: #5c50bb;
      }
    }

    th {
      background-color: #f2f2f2;
      font-weight: bold;
    }

    .select-column {
      width: auto;
    }

    thead {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  .mobile-header {
    display: block;
  }
}
