.table {
  border-collapse: collapse;
  width: 100%;

  th,
  td {
    padding: 8px;
    border: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .select-column {
    width: 30px;
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;

    tr {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      border: 1px solid #ddd;
      padding: 10px;
    }

    th,
    td {
      flex-basis: 100%;
      border: none;
    }

    th {
      background-color: #f2f2f2;
      font-weight: bold;
    }

    .select-column {
      width: auto;
    }
  }
}
